@import './../../styles/colors';
.Threejs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  .Threejs_select_container {
    display: flex;
    margin-bottom: 20px;
  }
  .Threejs_selector {
    padding: 40px;
    border-radius: 10px;
	  background-color: rgba($base500, 0.7);
    display: flex;
    width: 60%;
    flex-direction: row;
    button {
      color: $base500;
      margin: 10px;
      width: 120px;
      height: 60px;
      border-radius: 10px;
      background-color: rgba($aquablue, 0.7);
      margin: 10px;
      box-shadow:  10px 10px 20px $greenblue,
      -10px -10px 20px $base500;
      &.active {
        box-shadow:  5px 5px 10px $blue,
        -5px -5px 10px $blue;
        background-color: $greenblue;
      }
    }
    &.bg {
      margin-left: 20px;
      width: 30%;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &.bg button {
      height: 30px;
    }
  }
  .threejs_canvas {
    height: 500px;
    width: 50%;
    flex: 2;
    margin: 0 auto;
  }
  .threejs_canvas_xl {
    height: 900px;
    width: 50%;
    flex: 2;
    margin: 0 auto;
  }
  @media ( max-width: 700px )  {
    .threejs_canvas {
      width:100%;
    }
    
    .threejs_canvas:last-child {
      flex-basis:auto;
    }
  }

}