@import './../../styles/colors';
.DarkCorner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  .darkcorner_canvas {
    height: 300px;
    width: 50%;
    flex: 2;
  }
  .darkcorner_canvas_xl {
    height: 500px;
    width: 50%;
    flex: 2;
  }
  @media ( max-width: 700px )  {
    .darkcorner_canvas {
      width:100%;
    }
    
    .darkcorner_canvas:last-child {
      flex-basis:auto;
    }
  }
}
.darkCornerContainer {
  width: calc(100% - 300px);
  height: calc(100% - 400px);
}

.Tabs_container {
	display: grid;
	margin: 20px 0;
	.Tabs_menu {
		display: grid;
		grid-template-columns: 30% 30% 30%;
		.Tabs_menu_item {
			cursor: pointer;
			padding: 10px;
			margin: 10px;
			text-align: center;
			border-radius: 4px;
			box-shadow:  10px 10px 20px $aquablue,
			-10px -10px 20px $greenblue;
			opacity: 1;
			&.active {
				border: 1px solid $greenblue;
			}
		}
	}
	.Tabs_item {
		position: relative;
		margin: 20px auto;
		top: 0;
		&.visible {
			visibility: visible;
			height: none;
		}
		&.novisible {
			visibility: hidden;
			height: 0;
		}
	}
}